@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
	color: white;
}

body {
	background-image: url('assets/bg.jpg');
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

body::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100dvh;
	background: rgb(0, 0, 0, 0.15);
	backdrop-filter: blur(15px);
}

.main-container {
	/* border: solid; */
	width: 300px;
	height: 496px;
	z-index: 1;
	background: linear-gradient(
		to top,
		rgb(0, 0, 0, 0.15),
		rgb(255, 255, 255, 0.15)
	);
	border-radius: 12px;
	padding: 20px;
	backdrop-filter: blur(100px);
}

/* INPUT CONTAINER */
.input-container {
	position: relative;
}
.city-input {
	width: 100%;
	padding: 10px 16px;
	border-radius: 99px;
	border: 3px solid transparent;
	background-color: rgb(0, 0, 0, 0.15);
	outline: none;
	font-weight: 500;
	transition: 0.25s border;
	padding-right: 45px;
}
.city-input:placeholder {
	color: rgb(255, 255, 255, 0.75);
}
.city-input:focus {
	border: 3px solid rgb(0, 0, 0, 0.15);
}
.search-btn {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
}

/* END INPUT CONTAINER */
